# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# Include tfplan files to ignore the plan output of command: terraform plan -out=plan
# example: *tfplan*
**/plan

#misc
*.xml
**/.idea/*
